* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
    height: 70px;
    padding: 10px 20px 10px 20px;
}

main {
    background-color: white;
    width: 70%;
    margin: 30px auto;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

li .entity {
    vertical-align: middle;
    font-size: 20px;
}

li h3 {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

.check {
    vertical-align: middle;
    font-size: 12px;
    color: green;
    width: 20px;
    height: 20px;
    border: 2px solid green;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

.cross {
    vertical-align: middle;
    font-size: 10px;
    color: red;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

ul li {
    font-size: 20px;
    vertical-align: middle;
}

.editorial {
    background-color: rgb(24, 113, 165);
    width: 50px;
    height: 20px;
    border-radius: 30%;
    color: white;
    font-size: 10px;
    padding: 5px;
}

.recruiting {
    background-color: rgb(16, 138, 62);
    width: 50px;
    height: 20px;
    border-radius: 30%;
    color: white;
    font-size: 10px;
    padding: 5px;
}

.goals {
    background-color: rgb(106, 8, 119);
    width: 50px;
    height: 20px;
    border-radius: 30%;
    color: white;
    font-size: 10px;
    padding: 5px;
}

.mobile {
    background-color: rgb(197, 130, 31);
    width: 50px;
    height: 20px;
    border-radius: 30%;
    color: white;
    font-size: 10px;
    padding: 5px;
}

.website {
    background-color: rgb(163, 14, 156);
    width: 50px;
    height: 20px;
    border-radius: 30%;
    color: white;
    font-size: 10px;
    padding: 5px;
}

.sales {
    background-color: rgb(94, 206, 20);
    width: 50px;
    height: 20px;
    border-radius: 30%;
    color: white;
    font-size: 10px;
    padding: 5px;
}

.task {
    background-color: rgb(24, 113, 165);
    width: 80px;
    height: 25px;
    border-radius: 10%;
    color: white;
    font-size: 10px;
    padding: 5px;
}

.section {
    
    height: 25px;
    color: gray;
    border-radius: 10%;
    border-color:  gray;
    font-size: 10px;
    padding: 5px;

}

.link {
    color: white;
    width: 80px;
    height: 25px;
    text-decoration: none;
    padding: 5px;
}

.links {
    color: gray;
    border: gray ;
    border-style: solid;
    border-radius: 10%;
    border-width: 3px;
    width: 80px;
    height: 20px;
    padding: 5px;
    text-decoration: none;
}

.liste {
    margin-top: 20px;
}