* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
    height: 100px;
}

main {
    background-color: white;
    width 70%;
    margin: 30px auto;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

li .entity {
    vertical-align: middle;
    font-size: 20px;
}

li h3 {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

.check {
    vertical-align: middle;
    font-size: 12px;
    color: green;
    width: 20px;
    height: 20px;
    border: 2px solid green;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

.testo {
    text-align: center;
    vertical-align: middle;
}